.dialog.centered-dialog,
.v-dialog.centered-dialog {
  background: transparent;
  box-shadow: none;
  border-radius: 6px;
  width: auto;
  color: whitesmoke;
}

.button_behavior {
  cursor: pointer;
}