<!--suppress HtmlRequiredAltAttribute -->
<div class="sign-in">
  <v-dialog v-model="dialog" persistent content content-class="centered-dialog">
    <v-container fill-height>
      <v-layout column justify-center align-center>
        <v-progress-circular indeterminate :size="70" :width="7" color="white">
        </v-progress-circular>
      </v-layout>
    </v-container>
  </v-dialog>
  <v-layout v-if="!loginWithForm" column align-center pa-5>
    <img class="button_behavior" @click="googleSignIn()"
      src="../../assets/btn_google_signin.png" />
    <!-- <v-btn block color="purple" class="cw" @click="facebookSignIn()">כניסה באמצעות facebook</v-btn> -->
    <span>או - </span>
    <a @click="loginWithForm=!loginWithForm" href="javascript:void(0)">להרשמה /
      התחברות דרך אימייל וסיסמה</a>
  </v-layout>
  <v-container v-else>
    <v-form v-model="valid" ref="form">
      <v-layout column>
        <v-text-field v-if="!existingUser" v-model="username" label="שם מלא"
          type="text" required prepend-icon="person" :rules="usernameRules">
        </v-text-field>
        <v-text-field @click="specificErrors = []" v-model="email"
          label="אימייל" type="email" prepend-icon="email" :rules="emailRules">
        </v-text-field>
        <v-text-field @click="specificErrors = []" v-if="!forgotPassword"
          label="סיסמה" :rules="passwordRules" min="8" hint="לפחות 8 תווים"
          v-model="password" prepend-icon="lock"
          @click:append="() => (showPassword = !showPassword)"
          :type="showPassword ? 'text' : 'password'"></v-text-field>
        <div v-if="emailReset.display" class="subheading">
          {{emailReset.value}}
        </div>
        <v-btn block color="purple" @click="emailSignIn()" :disabled="!valid">
          {{existingUser ? forgotPassword ? "אישור": "כניסה" : "הרשמה"}}</v-btn>
        <div class="pa-2 cr" v-if="specificErrors.length > 0">
          {{specificErrors[0]}}
        </div>
        <a v-if="!forgotPassword" @click="changeLoginMethod()"
          href="javascript:void(0)">
          {{existingUser ? "שכחתי סיסמה" : "כבר יש לי משתמש"}}</a>
      </v-layout>
    </v-form>
  </v-container>
</div>